.adminButtons{
	width: 12VW  ;
	/* height:  20px; */
    /* display: flex;
    justify-content: space-between; */
	position: relative; 
	top:-9.5VW; 

}
.icons{
font-size: 3.5VW!important;
color: #684529;

}
